*{
    margin: 0;
    padding: 0;
}


canvas {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

body {
    position: relative;
    display: flex;
    height: 200vh;
    font-family: 'Sour Gummy', serif;
  }
  body::-webkit-scrollbar {
    scrollbar-width: auto;
  }
  body::-webkit-scrollbar-track {
    background: rgb(207, 252, 255);
  }
  body::-webkit-scrollbar-thumb {
    background: #99eb62;
 
  }

h1 {
  padding-top: 10%;
  position: absolute;
}
.FunFact {
  font-size: 5vh;
  padding-left: 2vh;
  padding-top: 8vh;
}

.block {
  width: 92vw;
  margin-top: 80vh;
  margin-left: 5vh;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  place-items: center;
  padding-top: 3vh;
  margin-bottom: 5vh;
  font-size: 5vh;
}

.blockText {
  font-size: 3vh;
  padding-top: 4vh;
  padding-bottom: 3vh;
}

.img {
  display: block;
  width: 50vw;
  padding-right: 3vw;
  padding-left: 21vw;
}

.fun-fact-container {
  display: flex;                /* Make the container a flexbox */
  gap: 10px;                    /* Add some space between the elements */
}

.fun-fact {
  font-weight: bold;
  margin: 0;                    /* Remove default margin */
}

.random-fact {
  max-width: 25vw;             /* Set a maximum width for the fun fact text */
  word-wrap: break-word;        /* Ensure the text wraps within the max-width */
  overflow-wrap: break-word;    /* Support legacy browsers for wrapping */
  margin: 0;                    /* Remove default margin */
  display: block;
    max-width: 25vw;
    font-size: 3vw;
}
